@model  IEnumerable<BlogMvcApp.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>

@*Farklı Controller''lerin Ortak kullandığı partialView''leri Shared klasörü içerisine almamız gerekiyor*@
@*İlk parametre partialimizin isimi ikinci parametre olarakta bizden bir model bekliyor*@
@Html.Partial("BlogListesi", Model)



@section SagKolon{

    @Html.Partial("Search")
    @{Html.RenderAction("KategoriListesi", "Category"); }
}

